# Python
.venv/
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*
!.env.example

# Datasets
datasets/
*.zip

# ML model weights / generated artifacts
*.pt
*.onnx
*.pth
runs/
wandb/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

dataset/
